<div class="container text-center text-white  rounded font-italic"style="background-color: rgba(255, 104, 89);">
    <h1>We wish you a happy and organized day!</h1>
    <div class="row "style="margin-top:4rem">
        <div class="col">
            <h3>Have you ever heard about organizing methods?</h3>
      
        </div>
        <div class="col">
            <h3>Maybe some work <span style="color:rgb(250,189,6);">& </span>study organization?</h3>
           
        </div>
    </div>
    <div class="row"style="margin-bottom:4rem">
        <div class="col">
            <h6><a class="btn btn-warning" a href="https://smallbusiness.chron.com/examples-methods-organization-18982.html"target="_blank"><img src="~/images/clock.svg" /><span style="font-weight:bold"> Methods</span></a></h6>
        </div>
        <div class="col">
            <h6><a class="btn btn-warning" a href="https://smallbusiness.chron.com/examples-methods-organization-18982.html"target="_blank"><img src="~/images/graduation-cap-solid.svg" /><span style="font-weight:bold"> Pomodoro</span></a></h6>
        </div>
    </div>
    <div style="padding-bottom:2rem">
        <h5>Are you done with your scheduling? What about a little drink?</h5>
        <a href="https://drinker-app.herokuapp.com/#"target="_blank"class="btn btn-warning"><img src="~/images/glass.svg" /><span style="font-weight:bold"> Drinker</span></a>
    </div>
</div>