<link href="~/css/site.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Home Page";
}
<div class="Test">
    <h1 class="display-4">Do you want to schedule your homes up? <p class="text-danger">(temporary)</p></h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
