
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/MainMenu.css" rel="stylesheet" />
<div class="MainContainer">
    <div class="wrapper">
        <div class="logo">
            @*<img src="images/logo.jpg" alt="tu bedzie logo">*@
        </div>
        <ul class=nav-area>
            <li><a href="#">Index</a></li>
            <li><a href="#">About us</a></li>
        </ul>
    </div>
    <div class="welcome-text">
        <h1>Schedule with ease</h1>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </div>
</div>