
@{
    ViewData["Title"] = "Home Page";
}
<div class="container align-items-center text-light"
     data-ajax="true"
     data-ajax-method="GET"
     data-ajax-mode="replace"
     data-ajax-update="#viewHolder">

    <div class="row align-items-center m-auto" style="padding-top:20%;">
        <div class="col mx-auto">
            <h1 class="display-1 font-italic">
                Schedule with ease
            </h1>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-info" id="loginButton">Login</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-info" id="registerButton">Register</button>
                    </div>
                </div>
        
        </div>
        <div class="col">
            <div id="viewHolder" class="align-items-center justify-content-center" style="padding-left:10%">
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @*ajax*@ 
    <script src="~/lib/jquery/jquery.unobtrusive-ajax.js"></script>
    @*partial script*@ 
    <script>
        $(function () {
            $('#registerButton').on('click', function () {
                $('#viewHolder').load('/Home/Register');
            });
        });
        $(function () {
            $('#loginButton').on('click', function () {
                $('#viewHolder').load('/Home/Login');
            });
        });
    </script>
}